<!-- Header START -->
<header class="navbar-light navbar-sticky header-static">
    <!-- Logo Nav START -->
    <nav class="navbar navbar-expand-xl">
        <div class="container-fluid px-3 px-xl-5">
            <!-- Logo START -->
            <a class="navbar-brand" href="/home">
                <h2>{{title}}</h2>
            </a>
            <!-- Logo END -->

            <!-- Responsive navbar toggler -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-animation">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>

            <!-- Main navbar START -->
            <div class="navbar-collapse w-100 collapse" id="navbarCollapse">

                <!-- Nav category menu START -->
                <ul class="navbar-nav navbar-nav-scroll me-auto">
                    <!-- Nav item 1 Demos -->
                    <li class="nav-item dropdown dropdown-menu-shadow-stacked">
                        <a class="nav-link bg-primary bg-opacity-10 rounded-3 text-primary px-3 py-3 py-xl-0"
                            href="#" id="categoryMenu" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i class="bi bi-ui-radios-grid me-2"></i><span>Category</span></a>
                        <ul class="dropdown-menu" aria-labelledby="categoryMenu">

                            <!-- Dropdown submenu -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item " href="#"> Full Stack Development</a>
                            </li>

                    </li>
                    <li> <a class="dropdown-item" href="#">App Development</a></li>
                    <!-- Dropdown submenu -->
                    <li class="dropdown-submenu dropend">
                        <a class="dropdown-item " href="#">Machine Learning</a>
                    </li>
                    <li class="dropdown-submenu dropend"></li>
                    <a class="dropdown-item " href="#">Data Science</a>
                    </li>
                    <li class="dropdown-submenu dropend"></li>
                    <a class="dropdown-item " href="#">Blockchain</a>
                    </li>
                </ul>
                </li>
                </ul>
                <!-- Nav category menu END -->

                <!-- Nav Main menu START -->
                <ul class="navbar-nav navbar-nav-scroll me-auto">
                    <!-- Nav item 1 Demos -->
                    <li class="nav-item dropdown">
                        <a class="nav-link  active" href="#" id="demoMenu" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Home</a>

                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">About</a>

                    </li>


                    

                    <li class="nav-item dropdown ">
                        <a class="nav-link " href="#" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Courses</a>

                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="advanceMenu" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Community
                        </a>

                    </li>
                </ul>
                <!-- Nav Main menu END -->

                <!-- Nav Search START -->
                <div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
                    <div class="nav-item w-100">
                        <form class="position-relative">
                            <input class="form-control pe-5 bg-transparent" type="search" placeholder="Search"
                                aria-label="Search">
                            <button
                                class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y"
                                type="submit"><i class="fas fa-search fs-6 "></i></button>
                        </form>
                    </div>
                </div>
                <!-- Nav Search END -->
            </div>
            <!-- Main navbar END -->

            <!-- Profile START -->
            <div class="dropdown ms-1 ms-lg-0">
                <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button"
                    data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img class="avatar-img rounded-circle" src=" " alt="avatar" id="userprofile2" >
                </a>
                <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3"
                    aria-labelledby="profileDropdown">
                    <!-- Profile info -->
                    <li class="px-3">
                        <div class="d-flex align-items-center">
                            <!-- Avatar -->
                            <div class="avatar me-3">
                                <img class="avatar-img rounded-circle shadow" src=" " alt="avatar" id="userprofile">
                            </div>
                            <div>
                                <a class="h6" href="#" id="name"></a>
                                <p class="small m-0" id="emailid"></p>
                            </div>
                        </div>
                        <hr>
                    </li>
                    <!-- Links -->
                    <li><a class="dropdown-item" href="/student-dashboard"><i class="bi bi-person fa-fw me-2"></i>Dashboard</a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Account Settings</a>
                    </li>
                    <form action="{{ url_for('auth.logout') }}" method="post">
                        <li><a class="dropdown-item bg-danger-soft-hover" href=""><i
                                    class="bi bi-power fa-fw me-2"></i><button type="submit"
                                    style="border: none; background: none;">Logout</button></a></li>
                    </form>
                </ul>
            </div>
            <!-- Profile START -->
        </div>
    </nav>
    <!-- Logo Nav END -->
</header>
<script>
    
function fetchUserProfile() {
    fetch('/dashboard/student-profile', {
        method: "GET",
        headers: {
            'Content-Type': "application/json"
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('HTTP error! Status: ' + response.status);
        }
        return response.json();
    })
    .then(data => {
        if(data){
			console.log(data);
			let email=document.querySelector("#emailid")
            let name=document.querySelector("#name")
			let userprofile=document.querySelector("#userprofile")
			let userprofile2=document.querySelector("#userprofile2")
            email.textContent=data.user.email
			userprofile.src=data.img_url
			userprofile2.src=data.img_url
            name.textContent=data.user.name
			
		}
       else{
		console.log('fetch error');
		alert('DB not connected');
	   }
    })
    .catch(err => {
        console.error("Fetch error: ", err);
    });
}

fetchUserProfile();

</script>
<!-- Header END -->

<!--